main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}

.card-post {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #D2DAF5;

    font-size: 2rem;
    margin-bottom: 5px;
}

.line-post {
    height: 2px;
    background-color: #3E445B;
}

.card-body-post {
    margin-top: 25px;

}

.fields {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1rem;
    color: #D2DAF5;
    font-family: Poppins;
}

.fields p {
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    color: #D2DAF5;
    font-family: Poppins;
}

.fields span {
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    color:#3DECB1;

    font-family: Poppins;
}

input {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

.btn-post{
    margin-top: 30px;
    text-align: center;

}

.btn-post button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
    background-color: #3DECB1;

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}

.fields .error-message {
    color: rgb(216, 135, 135);
    font-size: 0.8rem;
    text-align: left;
}
